body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

nav {
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

#art-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#art-image {
    width: 100%;
    max-height: 90vh; /* Fit to screen height */
    object-fit: contain;
    cursor: pointer;
}

#art-info {
    margin-top: 20px;
}

#modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

#modal.hidden {
    display: none;
}

#modal-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

#close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
